[defaults]
inventory = ../plugins/inventory/terraform.py
roles_path = ../roles
collections_path = ../collections/
host_key_checking = False
retry_files_enabled = False
gathering = smart
interpreter_python = auto_silent
vault_password_file = ~/.vault_pass

# Производительность
forks = 20
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
